.skills-heading {
  text-align: center;
  font-size: xxx-large;
  color: rgb(255 255 3);
  margin-top: 20px;
}
.about p {
  font-size: 28px;
  font-family: fantasy;
  padding-bottom: 7px;
}
.about p span {
  font-size: 23px;
  color: rgba(255, 255, 3, 0.868);
}
.maincontainer {
  padding: 25px;
}
.container {
  background-color: rgb(192, 192, 192);
  width: 99%;
  border-radius: 15px;
}
.elmname {
  padding: 2px;
}

.skill {
  background-color: rgba(227, 227, 1, 0.874);
  color: #1e1818;
  padding: 0%;
  text-align: right;
  font-size: 0.5rem;
  border-radius: 15px;
}

.html {
  width: 80%;
}
.css {
  width: 80%;
}

.js {
  width: 70%;
}
.rjs {
  width: 75%;
}
.mysql {
  width: 60%;
}
.java {
  width: 65%;
}

.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about .left {
  /* text-align: center; */
  /* margin: auto; */
  /* padding: 1rem; */
  /* max-width: 690px; */
  display: grid;
  width: 40%;
}
/* .about .left p{
    margin: 1.2rem 0;
    font-style: oblique;
    text-align: justify;
} */
.about .right {
  display: grid;
  width: 40%;
  padding: 0;
}
.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}
.right .img {
  max-width: 90%;
  border: 1px solid #333;
}
.right .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 6;
}
.right .bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
}
@media screen and (max-width: 850px) {
  .about p {
    font-size: 15px;
  }
  .about p span {
    font-size: 14px;
  }
  .maincontainer {
    padding: 15px;
  }
  .about {
    margin: 1rem 0;
    grid-gap: 0;
  }
  .skills-heading {
    font-size: 35px;
  }
  .skill {
    font-size: 0.3rem;
  }
  .about .right {
    width: 90%;
    padding: 0px;
  }
  .about .left {
    width: 90%;
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0;
    display: inline;
  }
  .about p {
    font-size: 13px;
  }
  .about p span {
    font-size: 11px;
  }
  .maincontainer {
    padding: 10px;
    margin-left: 35px;
  }
  .skill {
    font-size: 0.2rem;
  }
  .skills-heading {
    font-size: xx-large;
    margin-top: 15px;
  }
}
