.name {
  color: rgba(247, 247, 18, 0.895);
  margin-top: -35px;
}
.content .about {
  max-width: 1140px;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}
.content .left img {
  width: 300px;
  /* margin-left: 50px; */
  height: 300px;
  border-radius: 50%;
}
.content .about .left {
  /* text-align: center; */
  /* padding: 1rem; */
  /* max-width: 600px; */
  margin: auto;
  display: grid;
  width: 100%;
  justify-content: center;
  display: flex;
}
.content .about .right{
  justify-content: center;
  width: 100%;
  display: flex;
  /* padding-top: 40px; */
}
/* .left img {
  width: 300px;
  margin-left: 50px;
  height: 300px;
  border-radius: 50%;
} */
.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}
.into-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}
.hero {
  height: 100%;
  width: 100%;
}
.hero .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 50%;
  text-align: center;
}
.hero .content h1 {
  font-size: 4rem;
  /* padding: 0.6rem 0 1.5rem; */
}
.hero .content p {
  font-size: 1.4rem;
  font-weight: 200;
  font-style: oblique;
  margin-bottom: 30px;
}

.content .btn {
  margin: 1rem 0.4rem;
}

.left img:hover {
  /* webkit-filter: blur(2px); Chrome, Safari, Opera */
  filter: blur(2px);
}

@media screen and (max-width: 740px) {
  .content .about {
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    
  }
  .content .left img {
    width: 140px;
    margin: 0px;
    height: 140px;
    border-radius: 50%;
  }
  .hero .content h1 {
    font-size: 2rem;
    /* padding: 0.6rem 0 1.5rem; */
  }
  .hero .content p {
    font-size: 1rem;
    font-weight: 200;
    font-style: oblique;
    margin-bottom: 0px;
  }
  .content .btn {
    display: inline-block;
  }
}